body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
}

#projects {
    margin: 20px;
}

.project {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}